<div class="infocard-parent" id="infocard-parent" style="    
        @media only screen and (max-width: 600px) {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                list-style: none;
                flex-direction: row;
                height: 900px;
                padding: 0;
                margin: 0;  
                -webkit-flex-flow: row wrap;
                justify-content: space-around;
         }
         @media only screen and (min-width: 600px) {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                list-style: none;
                flex-direction: row;
                height: 900px;
                padding: 0;
                margin: 0;  
                -webkit-flex-flow: row wrap;
                justify-content: space-around;
         }
 ">
     <div class="infocard-child" id="infocard-child" style="
        background: rgba(51,153,255,0.3);
        border: 2px solid grey;
        padding: 5px;
        padding-left: 10px;
        width: 400px;
        height: 475px;
        margin-top: 10px;
        line-height: 15px;
        color: black;
        font-weight: normal;
        font-size: 0.8em;
        text-align: left;
     ">
         <p style="text-align: center; font-weight: 1em"><b>{{include.title1}}</b></p>
         <p style="font-weight: 0.5em">
             {{include.content1_line1}}
             <br>
             <br>{{include.content1_line2}}
             <br>
             <br>{{include.content1_line3}}
             <br>
             <br>{{include.content1_line4}}
             <br>
             <br>{{include.content1_line5}}
             <br>
             <br>{{include.content1_line6}}
             <br>
             <br>{{include.content1_line7}}
             <br>
             <br>{{include.content1_line8}}
             <br>
             <br>{{include.content1_line9}}
         </p>
    </div>
    <div class="infocard-child" id="infocard-child" style="
        background: rgba(51,153,255,0.3);
        border: 2px solid grey;
        padding: 5px;
        padding-left: 10px;
        width: 400px;
        height: 475px;
        margin-top: 10px;
        line-height: 15px;
        color: black;
        font-weight: normal;
        font-size: 0.8em;
        text-align: left;
     ">
         <p style="text-align: center; font-weight: 1em"><b>{{include.title2}}</b></p>
         <p style="font-weight: 0.5em">
             {{include.content2_line1}}
             <br>
             <br>{{include.content2_line2}}
             <br>
             <br>{{include.content2_line3}}
             <br>
             <br>{{include.content2_line4}}
             <br>
             <br>{{include.content2_line5}}
             <br>
             <br>{{include.content2_line6}}
             <br>
             <br>{{include.content2_line7}}
             <br>
             <br>{{include.content2_line8}}
             <br>
             <br>{{include.content2_line9}}
          </p>
    </div>
    <div class="infocard-child" id="infocard-child" style="
        background: rgba(0,204,51,0.3);
        border: 2px solid grey;
        padding: 5px;
        padding-left: 10px;
        width: 825px;
        height: 200px;
        margin-top: 10px;
        line-height: 20px;
        color: black;
        font-weight: normal;
        font-size: 0.8em;
        text-align: left;
     ">
         <p style="text-align: center; font-weight: 1em"><b>{{include.title3}}</b></p>
         {{include.content3_line1}}
         <br>{{include.content3_line2}}
         <br>{{include.content3_line3}}
         <br>{{include.content3_line4}}
         <br>{{include.content3_line5}}
         <br>{{include.content3_line6}}
         <br>{{include.content3_line7}}
    </div>
       <div class="infocard-child" id="infocard-child" style="
        background: rgba(255,255,0,0.5);
        border: 2px solid grey;
        padding: 5px;
        padding-left: 10px;
        width: 825px;
        height: 200px;
        margin-top: 10px;
        line-height: 20px;
        color: black;
        font-weight: normal;
        font-size: 0.8em;
        text-align: left;
     ">
         <p style="text-align: center; font-weight: 1em"><b>{{include.title4}}</b></p>
         {{include.content4_line1}}
         <br>{{include.content4_line2}}
         <br>{{include.content4_line3}}
         <br>{{include.content4_line4}}
         <br>{{include.content4_line5}}
         <br>{{include.content4_line6}}
         <br>{{include.content4_line7}}
    </div>
</div>
