<ul class="infocard-parent" id="infocard-parent" style="display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    list-style: none;
    flex-direction: row;
    height: 300px;
    padding: 0;
    margin: 0;  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;">
 <li class="infocard-child" id="infocard-child" style=" background: rgba(0,0,255,0.3);
  padding: 0px;
  width: 400px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: left;">
     <b>{{include.title1}}</b>
    <p>{{include.content1}}<p/>
 </li>
 <li class="infocard-child" id="infocard-child" style=" background: rgba(0,0,255,0.3);
  padding: 0px;
  width: 400px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;">
    {{include.title2}}
    {{include.content2}}
 </li>  
</ul>
