<div class="infocard-parent" id="infocard-parent" style="display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    list-style: none;
    flex-direction: row;
    height: 300px;
    padding: 0;
    margin: 0;  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;">
 <div class="infocard-child" id="infocard-child" style=" background: rgba(127, 191, 63, 0.4);
  padding: 0px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  margin-left: 50px;
  line-height: 20px;
  color: white;
  font-weight: normal;
  font-size: 1em;
  text-align: left;">
     <b>{{include.title1}}</b>
     <br>
     <br>{{include.content1_line1}}
     <br>{{include.content1_line2}}
     <br>{{include.content1_line3}}
     <br>{{include.content1_line4}}
     <br>{{include.content1_line5}}
     <br>{{include.content1_line6}}
     <br>{{include.content1_line7}}
 </div>
 <div class="infocard-child" id="infocard-child" style=" background: rgba(127, 191, 63, 0.4);
  padding: 0px;
  width: 400px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;">
    {{include.title2}}
    {{include.content2}}
 </div>  
</div>
